#terms {
    max-width:900px;
    padding: 2rem;
    margin: 0 auto;
    h1 {
        padding-bottom: 2rem;
        text-align: center;
    }
    ul {
        padding-left: 1rem;
    }
    p, ul {
        margin: 1rem 0;
    }
}